@mixin flex($direction, $align-items: "", $justify-content: "") {
  display: flex;
  direction: $direction;

  @if ($align-items != "") {
    align-items: $align-items;
  }

  @if ($justify-content != "") {
    justify-content: $justify-content;
  }
}
